In [3]:
import pandas as pd
import numpy as np
import random
import csv
from csv import writer

In [18]:
List = ["Sara Was Here","Apple Pie"]
with open('data.csv', 'a') as f_object:  
    writer_object = writer(f_object)
  
    # Pass the list as an argument into
    # the writerow()
    writer_object.writerow(List)
  
    #Close the file object
    f_object.close()

In [19]:
df = pd.read_csv("data.csv")
df

,Go for a walk,Drink a soda,Read or listen to a book for 15 minutes,Clean your car,Clean the freezer,Pluck your eyebrows,Play an instrument for 15 minutes,Meditate for 15 minutes,Listen to music for 15 minutes,Sew or knit for 15 minutes,Draw for 15 minutes,Write for 15 minutesSara Was Here
0,Sara Was Here,Apple Pie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sara Was Here,Apple Pie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sara Was Here,Apple Pie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN